<dialog id="export_modal" class="modal">
    <div class="modal-box max-w-3xl">
        <h3 class="font-bold text-lg">Export preview ({{ format() }})</h3>
        <div class="bg-base-200 p-4 mt-2 overflow-x-auto max-h-96 text-sm">
            <pre class='whitespace-pre-wrap'>{{ this.content() }}</pre>
        </div>
        <div class="modal-action">
            <button class="btn btn-primary btn-lg sm:btn-sm" (click)="copyToClipboard()">
                <lucide-icon [img]="copyIcon" size="16"></lucide-icon>
                Copy to clipboard
            </button>
            <button class="btn btn-outline btn-lg sm:btn-sm" (click)="download()">
                <lucide-icon [img]="downloadIcon" size="16"></lucide-icon>
                Download as file
            </button>
            <form method="dialog">
                <button class="btn btn-lg sm:btn-sm">Close</button>
            </form>
        </div>
    </div>

    <div
        class="toast toast-top toast-center transition-opacity duration-300"
        [class.opacity-0]="toastHidden"
        [class.pointer-events-none]="toastHidden"
        id="clipboard_toast">
        <div class="alert alert-success">
            <span>Copied to clipboard</span>
            <lucide-icon [img]="clipboardCheckIcon" class="ml-2"></lucide-icon>
        </div>
    </div>
</dialog>
