.svg-container {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 336px); /* width of the sidebar */
    position: absolute;
    z-index: -10;
    bottom: 1rem;

    @media (width < 640px) {
        display: none;
    }

    @media (width < 1280px) {
        width: 100%;
    }
}

.sample-container {
    margin-bottom: 0.75rem;
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;

    .sample-label {
        display: flex;
        align-items: center;
    }

    .sample-buttons {
        display: flex;
        column-gap: 0.5rem;

        @media (width < 30rem) {
            flex-direction: column;
            row-gap: 0.5rem;
        }
    }

    @media (width < 640px) {
        flex-direction: column;
    }
}

.main-btn {
    width: 100%;
    max-width: calc(0.25rem * 64);
}

.output-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.75rem;

    .collection-title {
        display: flex;
        column-gap: 0.5rem;
        align-items: center;

        .edit-btn {
            display: none;
        }

        p {
            font-size: 1.2rem;
            font-weight: 500;
        }
    }

    .collection-title:hover .edit-btn {
        display: inline-flex;
    }

    .action-buttons {
        display: flex;
        justify-content: flex-end;
    }
}

.task-card-skeleton {
    width: 100%;
    height: 6rem;
}
