<dialog id="rename_collection_modal" class="modal">
    <div class="modal-box">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
        <h3 class="modal-heading">Rename collection</h3>
        <input
            type="text"
            placeholder="Collection Name"
            class="input input-bordered w-full"
            [(ngModel)]="title"
        />

        <div class="modal-action">
            <form method="dialog">
                <button class="btn btn-lg sm:btn-sm">Close</button>
            </form>
            <button class="btn btn-primary sm:btn-sm" [disabled]="!isTitleValid()" (click)="save()">
                <lucide-icon [img]="editIcon"></lucide-icon>
                Rename
            </button>
        </div>
    </div>
</dialog>
