.svg-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    z-index: -10;
    top: 21rem;

    @media (width < 640px) {
        display: none;
    }
}
