<!-- FAQ -->
<section class="py-24 px-6 max-w-4xl mx-auto" id="faq">
    <h2 class="text-3xl font-bold text-center mb-8">FAQ</h2>
    <div class="join join-vertical w-full">
        @for (item of items; track item.question) {
            <div class="collapse collapse-arrow join-item border border-base-300">
                <input type="checkbox"/>
                <div class="collapse-title text-lg font-medium">{{ item.question }}</div>
                <div class="collapse-content">
                    <p [innerHTML]="item.answerHtml"></p>
                </div>
            </div>
        }
    </div>
</section>
