<!-- Hero Section -->
<section class="min-h-screen flex flex-col items-center justify-center text-center px-6 pt-24 pb-12">
    <h1 class="text-4xl md:text-6xl font-bold leading-tight">
        Turn Messy Notes Into <br/> <span class="text-primary">Dev-Ready Jira Tickets.</span> Instantly.
    </h1>
    <h2 class="mt-6 max-w-xl text-lg">
        Tasquery is a stateless AI bridge for developers and PMs.
        Paste chaotic Slack threads, rough brain dumps, or meeting transcripts, and instantly get a <strong>structured tickets</strong> with <strong>Acceptance Criteria</strong>.
        No prompt engineering required.
    </h2>
    <div class="mt-8 flex flex-col sm:flex-row gap-6 w-full sm:w-auto">
        <div class="tq-cta-wrapper">
            <a href="/app" class="btn btn-primary btn-lg w-full sm:w-auto">
                <lucide-icon [img]="tubeIcon" class="mr-1"></lucide-icon>
                Try Tasquery For Free
            </a>
            <span class="tq-cta-helper">No login required</span>
        </div>
        <a href="#waitlist" class="btn btn-outline btn-lg w-full sm:w-auto">
            Join Waitlist
        </a>
    </div>
    <div class="mt-20 w-full max-w-3xl">
        <!--<img
            src="/tasquery-preview-2.png"
            alt="Tasquery Screenshot"
            class="rounded-lg shadow-lg tasquery-screenshot"
        />-->
        <video
            src="/tasquery-showcase-2.mp4"
            autoplay
            muted
            loop
            playsinline
            poster="/tasquery-preview-3.png"
            class="rounded-2xl shadow-2xl tasquery-screenshot">
        </video>
    </div>
</section>
